*{
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
}
h1{
    font-size: 50px;
    color: rgb(2, 56, 54);
}
body{
    background-color: rgb(228, 206, 233);
}
.right-col {
	flex: 1;
    width: 100%;
	border: 1.5px solid black;
	height: 100%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: rgb(161, 238, 228);
}
#description{
    padding: 15px 15px;
    margin-left: 15px;
    width: 520px;
    max-width: 520px;
    background-color: rgb(181, 207, 206);
}
label{
    padding: 15px 15px;
}
button{
    margin-left: 15px;
    background-color:rgb(136, 255, 249);
    font-weight: bolder;
    margin-top:10px;
}
h1, .empty{
    border-bottom: 4px solid black;
}
#main-body{
    width: 100vw;
}

#list-of-task tr{
    width: 100%;
}
#list-of-task tr,td{
    padding: 10px;
}
table {
    border-collapse: collapse;
  }